@{
    ViewBag.Title = "Home Page";
    var _stock = (IEnumerable<Poultry.Models.Stock>)ViewBag.Stock;
}
@section featured {
   
}
@if(WebSecurity.IsAuthenticated)
{
<h3>Snapshot :</h3>
<ol class="round">
    <li class="one">
        <h5>Current Chick Stock</h5>
        @*<a href="/Home/Init">Click here to Initialize...</a>*@
        <br />
        <span style="font-size:20px;">
            @ViewBag.ChickStock Nos.
        </span>
    </li>

    <li class="two">
        <h5>Current Food Stock</h5>
        <br />
        <table>
            <tr>
                <th>Items
                </th>
                <th>Quantity
                </th>
            </tr>
            @foreach (var m in _stock)
            {
                <tr>
                    <td class="display-label">
                        @Html.DisplayName(m.Item.Name)
                    </td>
                    <td class="display-field">
                        @Html.DisplayName(m.Quantity.ToString()) @m.Item.Unit
                    </td>
                </tr>
            }
        </table>
    </li>

    @*<li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>*@
</ol>
}