@model Poultry.Models.Stock

@{
    ViewBag.Title = "Chicken";
    Layout = null;
}

<h2>Chicken</h2>

<fieldset>
    <legend>Stock</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity) Nos.
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
